<%= form_with model: [ @board, @list || @board.lists.build ] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <p>
    <%= form.submit %>
  </p>
  <% if @list&.persisted? %>
    <div class="status">
      <%= form.label :status, "status" %><br>
      <%= form.select :status, Visible::VALID_STATUSES, selected: @list.status %>
    </div>
  <% end %>

<% end %>
