<%= form_with model: [ @board, @board.lists.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <div class='status'>
    <%= form.label :status, "status" %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'active' %>
  </div>
<% end %>
