
<%= form_with model: @board do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @board.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class='status'>
    <div>
      <%= form.label :status_active, "active" %><br>
      <%= form.radio_button :status, :active %>
    </div>
    <div>
      <%= form.label :status_archived, "archived" %><br>
      <%= form.radio_button :status, :archived %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
