<div id="board-controller">
  <div class="link">
    <%= link_to "<", boards_path %>
  </div>
  <h1><%= @board.name %></h1>

  <div class="link"><%= link_to "Edit", edit_board_path(@board) %></div>
  <div class="link"> <%= link_to "Destroy", board_path(@board),
        data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } %></div>
</div>

<div id="lists">
  <%= render @board.lists %>
  <div class="list add">
    <h2>Add Another List</h2>
    <div id="list-form">
      <%= render 'lists/form' %>
    </div>
  </div>
</div>
