<h1><%= @board.name %></h1>

<ul>
  <li><%= link_to "Edit", edit_board_path(@board) %></li>
  <li> <%= link_to "Destroy", board_path(@board),
        data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } %></li>
</ul>

<%= link_to "Back to Boards", boards_path %>

<%= render @board.lists %>

<h2>Add Another List:</h2>
<%= form_with model: [ @board, @board.lists.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
